
*{box-sizing:border-box;font-family:"Segoe UI",Arial,sans-serif}

body{
  margin:0;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:
    linear-gradient(rgba(50, 176, 163, 0.65),rgba(156, 139, 11, 0.65));
  background-size:cover;
  background-position:center;
}

/* ===== CARD ===== */
.login-card{
  position:relative;
  width:400px;
  padding:40px 30px 35px;
  border-radius:26px;
  background:
  linear-gradient(rgba(207, 28, 28, 0.77),rgba(194, 175, 34, 0.925));
  box-shadow:0 35px 80px rgba(171, 63, 63, 0.5);
  text-align:center;
}

/* ===== LOGO (OUTSIDE CIRCLE) ===== */
.logo-circle{
  position:absolute;
  top:-85px;
  left:50%;
  transform:translateX(-50%);
  width:150px;
  height:150px;
  border-radius:50%;
  background:#fff;
  box-shadow:0 20px 45px rgba(0,0,0,.5);
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:visible;
}
.logo-circle img{
  width:120px;
  height:120px;
  object-fit:contain;
  transform:translateY(-18px); /* 👈 circle se bahar */
}

/* ===== TITLE ===== */
h2{
  margin:10px 0 25px;
  font-weight:700;
  color:#222;
}

/* INPUTS */
select,input{
  width:100%;
  padding:14px 16px;
  margin:10px 0;
  border-radius:12px;
  border:1px solid #ccc;
  font-size:15px;
}
select:focus,input:focus{
  outline:none;
  border-color:#2c5364;
}

/* PASSWORD */
.pass-box{position:relative}
.pass-box span{
  position:absolute;
  right:14px;
  top:50%;
  transform:translateY(-50%);
  cursor:pointer;
  font-size:13px;
  color:#555;
}

/* BUTTON */
button{
  width:100%;
  padding:15px;
  margin-top:18px;
  border:none;
  border-radius:12px;
  background:linear-gradient(135deg,#203a43,#2c5364);
  color:#fff;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
}

/* LINKS */
.links{
  display:flex;
  justify-content:space-between;
  margin-top:14px;
  font-size:14px;
}
.links a{
  color:#2c5364;
  text-decoration:none;
  font-weight:600;
}

/* OTP */
#otpBox{display:none;margin-top:10px}

/* MSG */
#msg{
  margin-top:10px;
  font-weight:600;
  color:#e74c3c;
}

/* ===== SOCIAL ICON BAR ===== */
.social-bar{
  position:fixed;
  left:15px;
  bottom:15px;
  background:#fff;
  padding:10px 12px;
  border-radius:16px;
  box-shadow:0 10px 25px rgba(0,0,0,.4);
}
.social-bar a{
  display:inline-block;
  margin:0 8px;
  font-size:22px;
}
.social-bar .yt{color:#ff0000}
.social-bar .ig{color:#e1306c}

/* ===== WHATSAPP SUPPORT ===== */
.whatsapp-support{
  position:fixed;
  right:15px;
  bottom:15px;
  background:#25d366;
  color:white;
  padding:12px 16px;
  border-radius:20px;
  display:flex;
  align-items:center;
  gap:8px;
  font-weight:600;
  box-shadow:0 10px 25px rgba(0,0,0,.4);
}
.whatsapp-support i{
  font-size:22px;
}

/* MOBILE */
@media(max-width:450px){
  .login-card{width:92%}
}

